*{
    margin: 0;
    passing: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.cabecalho{   
background-color: #6B4384;
display: flex;
justify-content: space-around;
font-size: 30px;
padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}


.cabecalho-lista-item{

    display:inline-block;
    margin: 0 16px;
}

.escola-imagem{
 width: 25%;   
}

.escola{
background-image: linear-gradient( #6B4384,#9e65c2)  ;
color:white;
display: flex ;
justify-content: center;
align-items: center;
padding: 24px 0;
}

.escola-div-conteudo{
   width: 35%; 
}
.escola-titulo{
padding:24px 0;

}
.estudante-imagem{
    width: 20%
}